body{
  text-align: center;
  background-color: #FADCD9;
  justify-content: center;
}

#container{
    height: 200px;
    width: 300px;
    background-color: #FFFDD0;
    margin: 10px;
    
}

#random{
    justify-content: center;
}
